In [1]:
import pandas as pd

df=pd.read_csv("D:\python_vs\swiggy_recommendation\swiggy.csv")

df.head()

<>:3: SyntaxWarning: invalid escape sequence '\p'
<>:3: SyntaxWarning: invalid escape sequence '\p'
C:\Users\mutha\AppData\Local\Temp\ipykernel_11800\1863877801.py:3: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_csv("D:\python_vs\swiggy_recommendation\swiggy.csv")

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [99]:
null_data=df.isnull().sum()

null_percentage=(null_data/len(df))*100

null_info = pd.DataFrame({'Null Count': null_data, 'Null Percentage': null_percentage})

print(null_info)

              Null Count  Null Percentage
id                     0         0.000000
name                  86         0.057896
city                   0         0.000000
rating                86         0.057896
rating_count          86         0.057896
cost                 131         0.088191
cuisine               99         0.066648
lic_no               229         0.154166
link                   0         0.000000
address               86         0.057896
menu                   0         0.000000

In [77]:
print(df['name'].isnull().value_counts())

name
False    148455
True         86
Name: count, dtype: int64

In [78]:
df[df["name"].isnull()]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
31044,397961,NaN,"Greater Mohali,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/5-tara-grea...,NaN,Menu/397961.json
32912,308071,NaN,"West Chd,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/food-under-...,NaN,Menu/308071.json
33046,308662,NaN,"West Chd,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/franks-frie...,NaN,Menu/308662.json
33488,170889,NaN,"South Chd,Chandigarh",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/dhaba-7-pre...,NaN,Menu/170889.json
36492,390394,NaN,"George Town,Chennai",NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/frozen-cafe...,NaN,Menu/390394.json
...,...,...,...,...,...,...,...,...,...,...,...
137122,256827,NaN,Satara,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/rajdhani-pa...,NaN,Menu/256827.json
137546,567595,NaN,Shillong,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/the-blue-ri...,NaN,Menu/567595.json
137614,116615,NaN,Shivamogga,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/bakers-bowl...,NaN,Menu/116615.json
138380,401760,NaN,Sirsa,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/murga-dlf-p...,NaN,Menu/401760.json
141568,463812,NaN,Thiruvananthapuram,NaN,NaN,NaN,NaN,NaN,https://www.swiggy.com/restaurants/punjabi-dha...,NaN,Menu/463812.json

In [90]:
df.dropna(subset=['name'], inplace=True)

In [100]:
df.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [81]:
df['rating'].value_counts()

rating
--     87014
4.0     6532
4.1     6296
4.2     5821
3.8     5736
3.9     5435
4.3     5011
3.7     4253
4.4     3149
3.5     2963
3.6     2925
3.4     1879
3.3     1801
4.5     1778
4.6     1334
3.2     1202
3.0      859
3.1      791
4.7      648
2.8      473
2.9      472
4.8      338
2.7      325
2.5      221
5.0      209
2.6      208
4.9      174
2.3      128
2.4      118
2.2       89
2.0       72
2.1       61
1.9       46
1.8       27
1.5       18
1.6       17
1.7       13
1.4       10
1.2        4
1.3        3
1.1        1
1.0        1
Name: count, dtype: int64

In [ ]:
#rating column cleaning

df["rating"]= df["rating"].replace('--','NaN')

df['rating'] = pd.to_numeric(df['rating'], errors='coerce')

mean_ratings = df.groupby('city')['rating'].transform('mean')

global_mean = df['rating'].mean()

df['rating'] = df['rating'].fillna(mean_ratings).fillna(global_mean)

df['rating'] = df['rating'].astype(float).round(1)

In [102]:
df['rating'].unique()

array([4.1, 4.4, 3.8, 3.7, 3.6, 4. , 4.2, 4.7, 3.5, 3.1, 3.4, 3.3, 4.8,
       3.9, 2.7, 4.3, 2.9, 4.5, 2.5, 3.2, 2.4, 4.6, 3. , 2.8, 2.3, 5. ,
       2.6, 2.2, 1.4, 1.9, 4.9, 2.1, 1.3, 2. , 1.8, 1.6, 1.1, 1.5, 1. ,
       1.2, 1.7])

In [103]:
df[df["rating"].isnull()]

Empty DataFrame
Columns: [id, name, city, rating, rating_count, cost, cuisine, lic_no, link, address, menu]
Index: []

In [113]:
df.isnull().sum()

id                0
name             86
city              0
rating            0
rating_count     86
cost              0
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [114]:
df[df["cost"].isnull()]

Empty DataFrame
Columns: [id, name, city, rating, rating_count, cost, cuisine, lic_no, link, address, menu]
Index: []

In [ ]:
#cost column cleaning

df["cost"] = df["cost"].str.replace("₹", "")

df['cost'] = pd.to_numeric(df['cost'], errors='coerce')

mean_costs = df.groupby('rating')['cost'].transform(lambda x: x.mean(skipna=True))

global_mean = df['cost'].mean(skipna=True)
df['cost'] = df['cost'].fillna(mean_costs).fillna(global_mean)

df['cost'] = df['cost'].astype(int)

In [115]:
df['rating_count'].value_counts()

rating_count
Too Few Ratings    87014
20+ ratings        21636
100+ ratings       20548
50+ ratings        12009
500+ ratings        4396
1K+ ratings         2739
5K+ ratings           98
10K+ ratings          15
Name: count, dtype: int64

In [ ]:
# rating_count cleaning

df["rating_count"] = df["rating_count"].replace('Too Few Ratings','15')

df["rating_count"] = df["rating_count"].str.replace("+ ratings","")

df["rating_count"] = df["rating_count"].str.replace("K","000")

In [121]:
df['rating_count'].value_counts()

rating_count
15       87014
20       21636
100      20548
50       12009
500       4396
1000      2739
5000        98
10000       15
Name: count, dtype: int64

In [127]:
df[df['rating_count'].isnull()]

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
31044,397961,NaN,"Greater Mohali,Chandigarh",3.7,NaN,261,NaN,NaN,https://www.swiggy.com/restaurants/5-tara-grea...,NaN,Menu/397961.json
32912,308071,NaN,"West Chd,Chandigarh",4.0,NaN,295,NaN,NaN,https://www.swiggy.com/restaurants/food-under-...,NaN,Menu/308071.json
33046,308662,NaN,"West Chd,Chandigarh",4.0,NaN,295,NaN,NaN,https://www.swiggy.com/restaurants/franks-frie...,NaN,Menu/308662.json
33488,170889,NaN,"South Chd,Chandigarh",3.7,NaN,261,NaN,NaN,https://www.swiggy.com/restaurants/dhaba-7-pre...,NaN,Menu/170889.json
36492,390394,NaN,"George Town,Chennai",4.0,NaN,295,NaN,NaN,https://www.swiggy.com/restaurants/frozen-cafe...,NaN,Menu/390394.json
...,...,...,...,...,...,...,...,...,...,...,...
137122,256827,NaN,Satara,3.8,NaN,269,NaN,NaN,https://www.swiggy.com/restaurants/rajdhani-pa...,NaN,Menu/256827.json
137546,567595,NaN,Shillong,3.8,NaN,269,NaN,NaN,https://www.swiggy.com/restaurants/the-blue-ri...,NaN,Menu/567595.json
137614,116615,NaN,Shivamogga,3.8,NaN,269,NaN,NaN,https://www.swiggy.com/restaurants/bakers-bowl...,NaN,Menu/116615.json
138380,401760,NaN,Sirsa,4.1,NaN,303,NaN,NaN,https://www.swiggy.com/restaurants/murga-dlf-p...,NaN,Menu/401760.json
141568,463812,NaN,Thiruvananthapuram,4.0,NaN,295,NaN,NaN,https://www.swiggy.com/restaurants/punjabi-dha...,NaN,Menu/463812.json

In [128]:
df['rating_count'] = pd.to_numeric(df['rating_count'], errors='coerce')

group_means = df.groupby('rating')['rating_count'].transform('mean')

df['rating_count'] = df['rating_count'].fillna(group_means)

df['rating_count']=df['rating_count'].astype(int)

In [130]:
df['rating_count'].isnull().sum()

np.int64(0)

In [131]:
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,4.1,15,200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50,200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100,100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20,250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,4.1,15,250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [137]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148455 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148455 non-null  int64
 1   name          148455 non-null  object
 2   city          148455 non-null  object
 3   rating        148455 non-null  float64
 4   rating_count  148455 non-null  int64
 5   cost          148455 non-null  int64
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148455 non-null  object
 9   address       148455 non-null  object
 10  menu          148455 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 13.6+ MB

In [136]:
df.isnull().sum()

id                0
name              0
city              0
rating            0
rating_count      0
cost              0
cuisine          13
lic_no          143
link              0
address           0
menu              0
dtype: int64

In [139]:
df.dropna(subset=["cuisine", "lic_no"], inplace=True)

In [140]:
df.isnull().sum()

id              0
name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
lic_no          0
link            0
address         0
menu            0
dtype: int64

In [141]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148299 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148299 non-null  int64
 1   name          148299 non-null  object
 2   city          148299 non-null  object
 3   rating        148299 non-null  float64
 4   rating_count  148299 non-null  int64
 5   cost          148299 non-null  int64
 6   cuisine       148299 non-null  object
 7   lic_no        148299 non-null  object
 8   link          148299 non-null  object
 9   address       148299 non-null  object
 10  menu          148299 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 13.6+ MB

In [142]:
df.to_csv("cleaned_data.csv", index=False)

In [143]:
df.shape

(148299, 11)

In [146]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: numpy>=1.19.5 in c:\users\mutha\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn) (2.2.3)
Collecting scipy>=1.6.0 (from scikit-learn)
  Using cached scipy-1.15.2-cp312-cp312-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.4.2-py3-none-any.whl.metadata (5.4 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.6.1-cp312-cp312-win_amd64.whl (11.1 MB)
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/11.1 MB ? eta -:--:--
   -- ------------------------------------- 0.8/11.1 MB 3.7 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.1 MB 4.5 MB/s eta 0:00:03
   ---- ----------------------------------- 1.3/11.1 MB 4.5 MB/s eta 0:00:03
   ----- ---------------------------------- 1.6/11.1 MB 1.7 MB/s eta 0:00:06
   ------- -------------------------------- 2.1/11.1 MB 2.0 MB/s eta 0:00:05
   ----------- ---------------------------- 3.1/11.1 MB 2.5 MB/s eta 0:00:04
   --------------- ------------------------ 4.2/11.1 MB 2.8 MB/s eta 0:00:03
   ------------------ --------------------- 5.2/11.1 MB 3.2 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.1 MB 3.2 MB/s eta 0:00:02
   ------------------- -------------------- 5.5/11.1 MB 3.2 MB/s eta 0:00:02
   -------------------- ------------------- 5.8/11.1 MB 2.5 MB/s eta 0:00:03
   ---------------------- ----------------- 6.3/11.1 MB 2.5 MB/s eta 0:00:02
   ------------------------- -------------- 7.1/11.1 MB 2.6 MB/s eta 0:00:02
   ---------------------------- ----------- 7.9/11.1 MB 2.7 MB/s eta 0:00:02
   -------------------------------- ------- 8.9/11.1 MB 2.8 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.1 MB 2.9 MB/s eta 0:00:01
   --------------------------------- ------ 9.2/11.1 MB 2.9 MB/s eta 0:00:01
   ---------------------------------- ----- 9.7/11.1 MB 2.6 MB/s eta 0:00:01
   ------------------------------------ --- 10.2/11.1 MB 2.6 MB/s eta 0:00:01
   ---------------------------------------- 11.1/11.1 MB 2.6 MB/s eta 0:00:00
Downloading joblib-1.4.2-py3-none-any.whl (301 kB)
Using cached scipy-1.15.2-cp312-cp312-win_amd64.whl (40.9 MB)
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.4.2 scikit-learn-1.6.1 scipy-1.15.2 threadpoolctl-3.6.0

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
# Data encoding 
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

# Read your CSV file
df = pd.read_csv("D:\python_vs\swiggy_recommendation\cleaned_data.csv")

# Split 'city' into 'sub_city' and 'main_city'
df[['sub_city', 'main_city']] = df['city'].str.split(',', n=1, expand=True)

# Handle missing values
df['sub_city'] = df['sub_city'].fillna('Unknown').str.strip()
df['main_city'] = df['main_city'].fillna(df['sub_city']).str.strip()

# One-hot encode 'main_city' and 'sub_city'
encoder = OneHotEncoder(handle_unknown='ignore', sparse_output=False).set_output(transform="pandas")
encoded_cities = encoder.fit_transform(df[['main_city', 'sub_city']])

# Add encoded columns to original DataFrame
df = pd.concat([df, encoded_cities], axis=1)

# Drop the original 'city', 'main_city', and 'sub_city' columns
df.drop(columns=['city', 'main_city', 'sub_city'], inplace=True)

<>:7: SyntaxWarning: invalid escape sequence '\p'
<>:7: SyntaxWarning: invalid escape sequence '\p'
C:\Users\mutha\AppData\Local\Temp\ipykernel_18752\2142875218.py:7: SyntaxWarning: invalid escape sequence '\p'
  df = pd.read_csv("D:\python_vs\swiggy_recommendation\cleaned_data.csv")

In [3]:
df

,id,name,rating,rating_count,cost,cuisine,lic_no,link,address,menu,...,sub_city_Washim,sub_city_West Chd,sub_city_West Marredpally,sub_city_Whitefield,sub_city_Yamuna-nagar,sub_city_Yavatmal,sub_city_Yelahanka,sub_city_Yeshwanthpur,sub_city_Zirakpur,sub_city_sohna road
0,567335,AB FOODS POINT,4.1,15,200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,531342,Janta Sweet House,4.4,50,200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,158203,theka coffee desi,3.8,100,100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,187912,Singh Hut,3.7,20,250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,543530,GRILL MASTERS,4.1,15,250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148294,553122,The Food Delight,3.7,15,200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
148295,562647,MAITRI FOODS & BEVERAGES,3.7,15,300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
148296,559435,Cafe Bella Ciao,3.7,15,300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
148297,418989,GRILL ZILLA,3.7,15,250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
148298,447770,Lazeez kitchen,3.7,15,200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [ ]:
# save df as csv file after city encoding 
df.to_csv('City_encoded.csv', index=False)

In [ ]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

# Load the City_encoded.csv file
df = pd.read_csv("D:\python_vs\swiggy_recommendation\City_encoded.csv")

# Check if 'cuisine' column exists
if 'cuisine' in df.columns:
    # Clean and split the cuisine column (splitting by commas)
    df['cuisine'] = df['cuisine'].str.split(',').apply(lambda x: [i.strip() for i in x])

    print("Cuisine column after splitting:")
    print(df[['cuisine']].head())  
    
    # Initialize the MultiLabelBinarizer
    mlb = MultiLabelBinarizer()

    # Apply the fit_transform to get the one-hot encoded columns
    cuisine_encoded = mlb.fit_transform(df['cuisine'])

    # Add the encoded cuisine columns back to the original dataframe
    df[mlb.classes_] = cuisine_encoded

    # Drop the original 'cuisine' column
    df.drop('cuisine', axis=1, inplace=True)

    # Display the final DataFrame
    print("DataFrame with cuisine columns encoded and original 'cuisine' dropped:")
    print(df.head())

    # Save the modified DataFrame to a new CSV
    df.to_csv("D:\python_vs\swiggy_recommendation\City_encoded_with_cuisine.csv", index=False)

else:
    print("The 'cuisine' column does not exist in the dataframe.")

<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:32: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:32: SyntaxWarning: invalid escape sequence '\p'
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:5: SyntaxWarning: invalid escape sequence '\p'
  df = pd.read_csv("D:\python_vs\swiggy_recommendation\City_encoded.csv")
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:32: SyntaxWarning: invalid escape sequence '\p'
  df.to_csv("D:\python_vs\swiggy_recommendation\City_encoded_with_cuisine.csv", index=False)

Cuisine column after splitting:
                         cuisine
0            [Beverages, Pizzas]
1               [Sweets, Bakery]
2                    [Beverages]
3            [Fast Food, Indian]
4  [Italian-American, Fast Food]

C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\260995513.py:22: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[mlb.classes_] = cuisine_encoded

DataFrame with cuisine columns encoded and original 'cuisine' dropped:
       id               name  rating  rating_count  cost          lic_no  \
0  567335     AB FOODS POINT     4.1            15   200  22122652000138
1  531342  Janta Sweet House     4.4            50   200  12117201000112
2  158203  theka coffee desi     3.8           100   100  22121652000190
3  187912          Singh Hut     3.7            20   250  22119652000167
4  543530      GRILL MASTERS     4.1            15   250  12122201000053

                                                link  \
0  https://www.swiggy.com/restaurants/ab-foods-po...
1  https://www.swiggy.com/restaurants/janta-sweet...
2  https://www.swiggy.com/restaurants/theka-coffe...
3  https://www.swiggy.com/restaurants/singh-hut-n...
4  https://www.swiggy.com/restaurants/grill-maste...

                                             address              menu  \
0  AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...  Menu/567335.json
1  Janta Sweet House, Bazar No.9, Circullar Road,...  Menu/531342.json
2         theka coffee desi, sahtiya sadan road city  Menu/158203.json
3    Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR  Menu/187912.json
4  GRILL MASTERS, ADA Heights, Abohar - Hanumanga...  Menu/543530.json

   main_city_Abohar  ...  Thai  Thalis  Tibetan  Tribal  Turkish  \
0               1.0  ...     0       0        0       0        0
1               1.0  ...     0       0        0       0        0
2               1.0  ...     0       0        0       0        0
3               1.0  ...     0       0        0       0        0
4               1.0  ...     0       0        0       0        0

   Use Code JUMBO30 to avail  Use code XPRESS121 to avail.  Vietnamese  \
0                          0                             0           0
1                          0                             0           0
2                          0                             0           0
3                          0                             0           0
4                          0                             0           0

   Waffle  indian
0       0       0
1       0       0
2       0       0
3       0       0
4       0       0

[5 rows x 1509 columns]

In [6]:

df=pd.read_csv("D:\python_vs\swiggy_recommendation\City_encoded_with_cuisine.csv")
df.drop(columns=['id','link', 'lic_no', 'address','menu'], inplace=True)
df.head()
df.to_csv("D:\python_vs\swiggy_recommendation\City_encoded_with_cuisine1.csv", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:1: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
C:\Users\mutha\AppData\Local\Temp\ipykernel_18752\2195101961.py:1: SyntaxWarning: invalid escape sequence '\p'
  df=pd.read_csv("D:\python_vs\swiggy_recommendation\City_encoded_with_cuisine.csv")
C:\Users\mutha\AppData\Local\Temp\ipykernel_18752\2195101961.py:4: SyntaxWarning: invalid escape sequence '\p'
  df.to_csv("D:\python_vs\swiggy_recommendation\City_encoded_with_cuisine1.csv", index=False)

In [7]:
df.to_csv('encoded_data.csv', index=False)
# complete encoded data as joblib file save and load
import joblib

# Save full encoded data to file
joblib.dump(df, 'encoded_data.joblib')

# Load full encoded data from file
df = joblib.load('encoded_data.joblib')

In [ ]:

import pandas as pd

encoded_data = pd.read_csv('D:\python_vs\swiggy_recommendation\encoded_data.csv', index_col=0)
cleaned_data = pd.read_csv('D:\python_vs\swiggy_recommendation\cleaned_data.csv', index_col=0)

encoded_data_aligned = encoded_data.loc[encoded_data.index.isin(cleaned_data.index)]
cleaned_data_aligned = cleaned_data.loc[cleaned_data.index.isin(encoded_data.index)]

# Verify the Alignment if the indices are now aligned
print(encoded_data_aligned.index.equals(cleaned_data_aligned.index))

<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:5: SyntaxWarning: invalid escape sequence '\p'
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\1622886194.py:4: SyntaxWarning: invalid escape sequence '\p'
  encoded_data = pd.read_csv('D:\python_vs\swiggy_recommendation\encoded_data.csv', index_col=0)
C:\Users\mutha\AppData\Local\Temp\ipykernel_24680\1622886194.py:5: SyntaxWarning: invalid escape sequence '\p'
  cleaned_data = pd.read_csv('D:\python_vs\swiggy_recommendation\cleaned_data.csv', index_col=0)

True